*{
    margin: 0px;
    padding:0px;
    width: 100%;
    height: 100%;
}
.container {
    width: 100%;
    height: 100%;
    display: flex;
}
.watermark {
    width: 100%;
    height: 100%;
    z-index:0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.watermark img {
    height: 100px;
    width : 200px;
}
.other {
    z-index:1;
}